src/__pycache__/__init__.cpython-311.pyc
src/app/__pycache__/__init__.cpython-311.pyc
src/app/__pycache__/issues_status.cpython-311.pyc
src/app/__pycache__/work_log.cpython-311.pyc
src/core/config/__pycache__/__init__.cpython-311.pyc
src/core/config/__pycache__/settings.cpython-311.pyc
src/helper/__pycache__/__init__.cpython-311.pyc
src/helper/__pycache__/file_helper.cpython-311.pyc
src/helper/__pycache__/pandas.cpython-311.pyc
venv/
src/core/config/user_config.py
src/app/__pycache__/get_from_jira.cpython-311.pyc
src/core/config/__pycache__/user_config.cpython-311.pyc
src/service/__pycache__/__init__.cpython-311.pyc
src/service/__pycache__/jira.cpython-311.pyc
files/jira_export.csv
output/issue_log.csv
output/issue_status_report.csv
output/issue_status.csv
output/user_log.csv
output/user_status_report.csv
output/work_log.csv
output/days_since_last_log_per_user.png
output/issues_per_status_per_user.png
output/logged_hours_and_count_per_status.png
output/logged_hours_per_assignee.png
src/app/__pycache__/graph_creator.cpython-311.pyc
src/helper/__pycache__/graph_gen.cpython-311.pyc
output/added_value_per_user.png
output/added_value_report.csv
output/issue_status_report_added_value.csv
output/sprints.csv
files/sprints_json.json